<footer class="fixed-bottom" style="background-color: rgba(0,0,0,0.5) !important; 
    font-family: 'Numans', sans-serif; 
    color: white;
    padding: 1rem;
    height: 3rem;">
    <p>SocialApp2.0 &copy; 2023</p>
</footer>