<header class="navbar sticky-top navbar-expand-lg bg-dark" data-bs-theme="dark"
    style="background-color: rgba(0,0,0,0.5) !important;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SocialApp</a>
        <button class="navbar-toggler navbar-dark bg-dark" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <% if(locals.user){%>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/users/profile/<%= user.id %>">
                            <%= user.name %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/users/sign-out">Sign Out</a>
                    </li>
                    <% }else{ %>
                        <li>
                            <a class="nav-link active" aria-current="page" href="/users/sign-in">Sign In</a>
                        </li>
                        <li>
                            <a class="nav-link active" aria-current="page" href="/users/sign-up">Sign Up</a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</header>