html,
body {
    background-image: url('https://wallpapers.com/images/featured/blank-h9v8oske8iey8nkq.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Numans', sans-serif;
}

#home-container {
    display: flex;

    #feed-posts {
        width: 75%;
        padding: 10px;
    }

    #user-friends {
        width: 25%;
        padding: 10px;
        // border-left: 1px solid lightgray;
        height: 100%;
        position: fixed;
        // background-color: rgba(0, 0, 0, 0.5);
        color: black;
        margin-left: 75%;

        .nav-item {
            display: flex;
            margin: 7px;

            #friendImg {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                object-fit: cover;
                margin-right: 10px;
            }
        }
    }
}