html,
body {
  background-image: url("https://wallpapers.com/images/featured/blank-h9v8oske8iey8nkq.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Numans', sans-serif; }

#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 75%;
    padding: 10px; }
  #home-container #user-friends {
    width: 25%;
    padding: 10px;
    height: 100%;
    position: fixed;
    color: black;
    margin-left: 75%; }
    #home-container #user-friends .nav-item {
      display: flex;
      margin: 7px; }
      #home-container #user-friends .nav-item #friendImg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px; }
