html,
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'Numans', sans-serif;
  background-color: #212121;
  color: #FFFFFF; }

#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 75%;
    padding: 10px; }
    #home-container #feed-posts #postForm {
      width: 74%;
      padding: 9px;
      margin: 0px 10% 3% 13%;
      background-color: #212121; }
      #home-container #feed-posts #postForm #postBtn {
        color: black;
        background-color: #FFC312;
        width: 100px;
        float: right; }
  #home-container #user-friends {
    width: 25%;
    padding: 10px;
    height: 100%;
    position: fixed;
    background-color: #181818;
    margin-left: 75%; }
    #home-container #user-friends .nav-item {
      display: flex;
      margin: 7px; }
      #home-container #user-friends .nav-item #friendImg {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 10px; }
